/* Face */
.github-corner:hover .octo-face {display: inline;}
.github-corner .octo-face {display: none;}

/* Arm */
.github-corner:hover .octo-arm {animation: octocat-wave 560ms ease-in-out;}
@keyframes octocat-wave {
    0%, 100% {transform: rotate(0deg);}
    20%, 60% {transform: rotate(-25deg);}
    40%, 80% {transform: rotate(10deg);}
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {animation: none;}
    .github-corner .octo-arm {animation: octocat-wave 560ms ease-in-out;}
}

/* Ear */
.github-corner:hover .octo-ear {
    animation: octocat-twitch 560ms ease-in-out;
}
@keyframes octocat-twitch {
    0%, 100% {transform: rotate(0deg);}
    25%, 75% {transform: rotate(6deg);}
    50% {transform: rotate(-4deg) scale(1);}
}
@media (max-width: 500px) {
    .github-corner:hover .octo-ear {animation: none;}
    .github-corner .octo-ear {animation: octocat-twitch 560ms ease-in-out;}
}

/* Eye */
.github-corner:hover .octo-eye {animation: octocat-blink 560ms ease-in-out;}
@keyframes octocat-blink {
    0%, 25%, 100% {transform: scale(1);}
    60% {transform: scale(0, 0);}
    85% {transform: scale(.8, .8);}
}
@media (max-width: 500px) {
    .github-corner:hover .octo-eye {animation: none;}
    .github-corner .octo-eye {animation: octocat-blink 560ms ease-in-out;}
}