.github-corner:hover .octo-eye {animation: octocat-blink 560ms ease-in-out;}
@keyframes octocat-blink {
    0%, 25%, 100% {transform: scale(1);}
    60% {transform: scale(0, 0);}
    85% {transform: scale(.8, .8);}
}
@media (max-width: 500px) {
    .github-corner:hover .octo-eye {animation: none;}
    .github-corner .octo-eye {animation: octocat-blink 560ms ease-in-out;}
}